@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

div {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #222222;
  text-decoration: none;
}
#top {
  letter-spacing: 4px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  height: 45px;
  padding: 8px 16px;
  position: fixed;
  background-color: #fff;
  width: 1400px;
  font-size: 16px;
  line-height: 45px;
}

#button {
  text-align: center;
  cursor: pointer;
}

#right {
  float: right;
}

#right > a {
  padding-right: 20px;
  width: auto;
  height: 45px;
}

#right a:hover {
  background: rgb(146, 146, 146);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  letter-spacing: 4px;
  text-align: center;
}

.box {
  background-color: black;
  color: white;
  padding: 8px 16px;
  opacity: 0.75;
}

.center > h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
}

#header .img1 {
  width: 1500px;
}

h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
}
.padding {
  padding: 0 8px;
}

.padding {
  display: flex;
}
.display {
  padding: 10px;
  width: 300px;
}

.display > img {
  width: 300px;
  display: block;
}

.pictext {
  display: block;
  position: absolute;
  color: #fff;
  background: black;
  padding: 8px 16px;
}

#about > p {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 15px;
  padding-left: 30px;
}

h4 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

.job {
  padding-bottom: 20px;
}

.button2 {
  color: black;
  background: #f1f1f1;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  width: 270px;
}

#contact > p {
  padding-left: 30px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

input {
  padding: 15px;
  margin-bottom: 15px;
}

.button3 {
  color: white;
  background-color: black;
  line-height: 45px;
  width: 200px;
  text-align: center;
}

#footer {
  color: white;
  background-color: black;
  line-height: 85px;
  text-align: center;
}

#footer a {
  color: white;
  background-color: black;
  line-height: 85px;
  text-align: center;
}
